<div class="container-fluid" 
style="padding-top: 20px; padding-bottom: 50px; 
padding-left: 20px; padding-right: 20px;">
    <!-- menu button -->
    <div class="d-flex flex-row align-items-start justify-content-start">
        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop"><i class="fa-solid fa-bars"></i></button>
    </div>


    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                I will not close if you click outside of me.
            </div>
        </div>
    </div>
</div>