<div class="container-fluid" style="background-color: rgb(0, 31, 0); padding: 50px 40px 50px 40px;">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-start flex-column" style="margin-left: 40px;">
            <!-- icon -->
            <img [src]="'assets/icons/Group_392-3.png'" alt="icon" style="max-height: 50px; max-width: 50px; margin-bottom: 10px;">
            <p class="footer-icon-text">Egnimos</p>
        </div>
        <hr style="color: whitesmoke;">
        <div class="d-flex justify-content-end" style="margin-right: 40px;">
            <p class="footer-text">Copyright {{getYear()}}, egnimos</p>
        </div>
    </div>
</div>