<div class="pop d-flex flex-column align-items-center justify-content-center" *ngIf="show">
    <div class="box" [ngStyle]="{'background-image': 'url('+ imageUrl +')'}" [ngClass]="classPop">

    </div>
    <div class="d-flex align-items-center justify-content-center" [ngClass]="classPop"
        style="width: 50%; height: 50px; background-color: white; border-style: solid; border-width: 1px; margin-top: 10px;">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeImagePop()"></button>
    </div>
</div>