<!-- IMAGE POP UP -->
<app-image-pop *ngIf="showImage" [imageUrl]="userInfo?.photoURL" (close)="closePop($event)"></app-image-pop>


<div class="container-fluid" style="padding-left: 20px; padding-right: 20px; padding-top: 50px;">
    <!-- profile info which include "Name", "Profile Photo", "Joining date" -->
    <div class="d-flex flex-row" style="height: 20vh; margin-left: 10px;">
        <!-- image  -->
        <img class="profile-image-style" [src]="userInfo?.photoURL" (click)="showPop()" style="cursor: pointer;">
        <div class="d-flex flex-column" style="padding: 10px;">
            <h2>{{userInfo?.name}}</h2>
            <p>Joined In: {{joinedIn}}</p>
        </div>
    </div>
    <!-- tabs in which options are provided -->
    <div style="padding: 10px; margin: 10px;">
        <ul class="nav nav-tabs">
            <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="nav-tab-active"
                    [routerLinkActiveOptions]="{exact:true}" routerLink="/profile/">
                    Articles
                </a></li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" routerLinkActive="nav-tab-active" routerLink="/profile/drafts">
                    Drafts
                </a>
            </li>
            <!-- <li class="nav-item" role="presentation">
                <a class="nav-link" routerLinkActive="nav-tab-active" routerLink="/profile/books">
                    Books
                </a>
            </li> -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" routerLinkActive="nav-tab-active" routerLink="/profile/edit-profile">
                    Edit Profile
                </a>
            </li>
        </ul>
        <div class="container-fluid">
            <div class="d-flex flex-row align-items-end justify-content-end" style="height: 10vh;">
                <button class="btn btn-success" style="margin: 5px;" (click)="navToWriteBlog()">
                    <i class="fas fa-pen-fancy"></i>
                    Write Your Article
                </button>
                <!-- <button class="btn btn-success" style="margin: 5px;" (click)="navToCreateBook()">
                    <i class="fa-solid fa-book"></i>
                    Create a Book
                </button> -->
            </div>
        </div>
    </div>
    <!-- data based on tabs -->
    <div style="padding: 10px; margin: 10px;">
        <router-outlet></router-outlet>
    </div>
</div>