<div class="col text-center"
    style="width: 18rem; margin-top: 8px; margin-bottom: 8px; margin-left: 5px; margin-right: 5px; cursor: pointer;"
    (click)="viewAllArticlesOfSpecificCategory()">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="circle-style img-fluid" [ngStyle]=" {'border-color': color}">
            <p style="font-size: 22px; font-weight: 600;" [ngStyle]="{'color': color}">{{initiationLetter}}</p>
        </div>
    </div>
    <h5>{{category.name}}</h5>
    <p>{{category.description}}</p>
</div>