/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Indie+Flower&family=Raleway:wght@300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Share+Tech&display=swap');

div.ce-paragraph[data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    font-size: 28px !important;
}


/* DRAGULA CSS https://github.com/valor-software/ng2-dragula?tab=readme-ov-file#3-add-the-css-to-your-project */
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}