<div class="container-fluid" style="padding: 20px;">
    <!-- input for module name -->
    <div class="container">
        <div class="mb-3">
            <!-- <label for="moduleName" class="form-label">Name</label> -->
            <input type="email" class="form-control form-control-lg" id="moduleName"
                placeholder="enter your module name">
        </div>
    </div>

    <!-- topic selection panel -->
    <div class="row">
        <div class="col" style="background-color: red;height: 100vh; width: 50%;">
            Column</div>
        <div class="col" style="background-color: green;height: 100vh; width: 50%;">
            Column</div>
    </div>
</div>